.name-and-motto {
    display: flex;
    flex-direction: row;
    gap: 1em;

    align-items: center;
}

.name {
    /* display: inline-block; */
    font-size: 2rem;

    display: flex;
    align-items: center;
    gap: 0.2em;
}

.call-sign {
    font-size: 1.5rem;
    font-weight: 400;
}

.motto {
    color: rgb(193, 189, 189);
    font-size: 1.375rem;
    font-weight: 400;
}

.overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 2em;
}

.overview-left {
    flex-basis: min(max(20%, 200px), 300px);
    display: flex;

    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.about {
    flex: 2;
    white-space: pre-line;
    min-width: min(100%, 350px);
}

.about a {
    color: rgb(251, 183, 81);
}

.members {
    --min: 250px;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
    gap: 2em;
}
