.section {
    margin-bottom: 1em;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.buttons {
    display: flex;
    gap: 1em;

    flex-wrap: wrap;
}

.glossy-bg {
    border-radius: 10px;
    padding: 2em;
    background-color: var(--modal-background);
}

.buttons button,
.form button {
    border-radius: 15px;
    border: none;

    font-weight: 600;

    text-transform: uppercase;
    padding: 10px;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
}

.buttons button:hover:not(:disabled) {
    background-color: var(--brand-orange-light);
    border-radius: 15px;
    border: none;

    text-transform: uppercase;
    padding: 10px;
}

.destructive {
    color: var(--primary-text);
    background-color: rgba(160, 79, 79, 0.885);
}

.form {
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: wrap;
}
.form-element {
    display: flex;
    flex-direction: row;

    gap: 1em;
}
.form-element > div {
    display: flex;
    flex-direction: column;
}
.form button {
    align-self: center;
}
.connections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 450px));

    gap: 2em;
}

.connection-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    gap: 1em;
    margin-bottom: 1em;
}
.connection-head h3 {
    margin: 0;
}

.social-icon-container {
    margin-left: auto;

    position: relative;

    height: 30px;
    aspect-ratio: 76/63;
}

.api-key-modal {
    position: fixed;
    z-index: 10;

    background-color: var(--modal-background);
    backdrop-filter: blur(25px);

    max-width: 700px;
}

.api-key-modal button {
    cursor: pointer;
}

.api-key-modal-close-button {
    position: absolute;
    top: 0.7em;
    right: 0.7em;
}

.api-key-modal li {
    padding: 0.5em;
}

.api-key-modal a {
    color: var(--brand-orange-light);
}

.api-key-modal em {
    font-weight: 500;
}

.api-key-modal form {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}

.api-key-modal-err {
    color: red;
}
