.name-and-motto {
    display: flex;
    flex-direction: row;
    gap: 1em;

    align-items: center;
}

.name {
    /* display: inline-block; */
    font-size: 2rem;

    display: flex;
    align-items: center;
    gap: 0.2em;
}

.call-sign {
    font-size: 1.5rem;
    font-weight: 400;
}

.motto {
    color: var(--secondary-text);
    font-size: 1.375rem;
    font-weight: 400;
}

.overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 2em;
}

.overview-left {
    flex: 1;

    justify-content: center;
    align-items: center;
    position: relative;
}

.about {
    flex: 2;
    white-space: pre-line;
}

.about a {
    color: var(--brand-orange-light);
}

.members {
    --min: 250px;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
    gap: 2em;
}

.member {
    position: relative;
    min-width: var(--min);
    background-color: var(--modal-background);

    display: grid;
    grid-template-columns: max-content 2fr;

    gap: 1em;
    align-items: center;
    text-align: start;
}

.member-icon-container {
    position: relative;
    width: 50px;
    aspect-ratio: 1/1;
}

.founder-star {
    position: absolute;
    top: 10px;
    right: 10px;
}
