.raids {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1.5rem;
}

.home-raid-card {
    display: flex;
    flex-direction: column;

    background-color: var(--modal-background);
    border-radius: 10px;
    border: 1px solid var(--border);
}

.card-image-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
    position: relative;

    color: white;
}

.card-image-header h3 {
    position: absolute;
    top: 50%;
    left: 8%;

    font-weight: 500;
    font-size: x-large;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.card-image-header img {
    width: 100%;
    height: auto;
    margin-top: -5%;
    margin-bottom: -5%;

    filter: brightness(90%);
}

.card-content {
    padding: 1rem;
}

.content-section a {
    color: var(--brand-orange-light);
}

.content-section h4 {
    font-size: large;
    font-weight: 400;
    margin: 1em auto 0.5em auto;
}

.content-section ul {
    padding-inline-start: 1em;
}

.content-section li {
    display: block;
    font-weight: 300;
    font-size: medium;

    margin: 0.5em auto 0.5em;
}

.home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15% 0 7% 0;
}

.logo-text {
    text-transform: uppercase;
    color: white;
    margin-left: 15px;
    letter-spacing: 3px;
    font-size: 70px;
    white-space: nowrap;
    font-weight: 800;
}

.search {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-bar-container {
    margin: 0 20% 7% 20%;
    background: #1d181e;
    border-radius: 24px;
    height: 50px;
    width: inherit;
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.search-bar-container-focused {
    border-radius: 24px 24px 0 0;
}

.search-icon {
    height: 20px;
    width: 20px;
    position: relative;
    margin: 0 1em;
}

.search-bar-form {
    width: 100%;
    height: 100%;
}

.search-bar {
    display: flex;
    background: inherit;
    border: none;
    width: inherit;
    height: inherit;
}

.search-bar:focus {
    outline: none;
}

.divider {
    background: rgba(141, 141, 143, 0.7);
    width: 56%;
    height: 1px;
    position: absolute;
    margin: 50px 20% 0 22%;
    z-index: 4;
}


.search-result-container {
    background: #1d181e;
    border-radius: 0 0 24px 24px;
    width: 60%;
    height: 250%;
    position: absolute;
    margin: 50px 20% 0 20%;
    z-index: 3;
    box-shadow: 5px 10px 10px 1px #0d010f;
    overflow: hidden;
}

.search-results {
    height: 100%;
    list-style: none;
    overflow-y: auto;
    margin: 0;
    padding: 1em 0 0 0;

    scrollbar-width: thin;
    scrollbar-color: rgba(255, 116, 24, 0.397) rgba(0, 0, 0, 0.082);
}

.individual-result {
    display: flex;
    align-items: center;
    gap: 0.6em;
    padding-left: 1.5em;
    z-index: 5;
}

.individual-result img {
    border-radius: 3px;
}

.individual-result:hover {
    background-color: rgba(46, 46, 46, 0.5);
}
