.raids {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.home-raid-card {
    display: flex;
    flex-direction: column;

    background-color: var(--modal-background);
    border-radius: 10px;
    border: 1px solid var(--border);
}

.card-image-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
    position: relative;

    color: white;
}

.card-image-header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
    backdrop-filter: blur(10px);
}

.card-title {
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding: 0.5em;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

    font-size: x-large;
    font-weight: 800;
    text-transform: uppercase;

    white-space: nowrap;
}

.card-image-header img {
    width: 100%;
    height: auto;
    margin-top: -5%;
    margin-bottom: -5%;

    filter: brightness(90%);
}

.section-title span {
    color: rgba(255, 255, 255, 0.411);

    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3cap;
}

.card-content {
    padding: 15px;
}

.card-content hr {
    border-color: var(--border);
}

.card-section {
    padding-bottom: 25px;
}

.card-section-top {
    padding-top: 15px;
}

.content-section {
    display: flex;
    align-items: center;

    height: 40px;
}

.content-section-inner-section {
    display: flex;
}

.content-section .content-section-inner-section:hover {
    background-color: #fa5c1e0d;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}

.content-section-inner li {
    list-style: none;
}

.content-section:hover {
    background-color: #fa5c1e0d;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}

.content-section a {
    color: var(--brand-orange-light);
}

.content-section h4 {
    font-size: large;
    font-weight: 400;
    margin: 0;
}

.content-section-arrow {
    height: 25px;
    width: 25px;
    margin-left: auto;
}

.logo-glow {
    color: var(--brand-orange-light);
    text-shadow: 0 0 100px var(--brand-orange-light); /* Adjust the color and intensity as needed */
}

.home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(min(4%, 50px)) 0 4% 0;

    min-height: 170px; /* min size of logo + 20 */
    position: relative;
    margin-bottom: 1em;
}

.logo-img {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    opacity: 0.1;
}

.logo-text {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    color: white;
    margin-left: 15px;
    letter-spacing: 3px;
    font-size: 70px;
    white-space: nowrap;
    font-weight: 800;
}

@media (max-width: 465px) {
    .logo-text {
        font-size: 50px;
    }
}

.search {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-bar-container {
    margin: 0 20% 3% 20%;
    background: #fafafa0a;
    border: 1px solid var(--border);
    border-radius: 10px;
    height: 50px;
    width: inherit;
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.search-bar-container-focused {
    border-radius: 24px 24px 0 0;
}

.search-icon {
    height: 20px;
    width: 20px;
    position: relative;
    margin: 0 1em;
}

.search-bar-form {
    width: 100%;
    height: 100%;
}

.search-bar {
    display: flex;
    background: inherit;
    border: none;
    width: inherit;
    height: inherit;
}

.search-bar:focus {
    outline: none;
}

.divider {
    background: rgba(141, 141, 143, 0.7);
    width: 56%;
    height: 1px;
    position: absolute;
    margin: 50px 20% 0 22%;
    z-index: 4;
}

.search-result-container {
    background: #fafafa0a;
    backdrop-filter: blur(10px) !important;
    border: 1px solid var(--border);
    border-radius: 0 0 24px 24px;
    width: 60%;
    height: 550%;
    position: absolute;
    margin: 50px 20% 0 20%;
    z-index: 3;
    box-shadow: 5px 10px 10px 1px #0d010f;
    overflow: hidden;
}

.search-results {
    height: 100%;
    list-style: none;
    overflow-y: auto;
    margin: 0;
    padding: 1em 0 0 0;

    scrollbar-width: thin;
    scrollbar-color: rgba(255, 116, 24, 0.397) rgba(0, 0, 0, 0.082);
}

.individual-result {
    display: flex;
    align-items: center;
    gap: 0.6em;
    padding-left: 1.5em;
    z-index: 5;
}

.individual-result img {
    border-radius: 3px;
}

.individual-result:hover {
    background-color: rgba(46, 46, 46, 0.5);
}

@media (max-width: 700px) {
    .search-bar-container {
        margin: 0 0 3% 0;
    }

    .search-result-container {
        margin: 50px 0 0 0;
        width: 100%;
        height: min(60vh, 750%);
    }

    .divider {
        width: 84%;
        margin: 50px 8% 0 8%;
    }
}

.tool-buttons-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.tool-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 0.5em;
    width: 100px;
    height: 130px;
    border-radius: 10px;

    font-weight: 500;
    letter-spacing: 1px;
}
.tool-button:hover {
    background: #fafafa07;
}

.tool-button:hover svg {
    box-shadow: 0 0 14px 0 rgb(55, 57, 75);
}

.tool-button svg {
    background: #fafafa1a;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 1em;
    height: 60px;
    width: 60px;
}
