.main {
    overflow-x: auto;
}
.leaderboard-controls {
    display: flex;
    justify-content: right;
    margin: 1em auto 0.2em;
    gap: 0.4em;
    max-width: 950px;
}
.btn-control {
    transition: fill 0.1s ease-in;
}
.btn-control:not([aria-disabled="true"]):hover {
    cursor: pointer;
    fill: var(--brand-orange-light);
}
.leaderboard-container {
    padding: 1em;

    min-width: min-content;

    gap: 1em;
}
.leaderboard-divider {
    margin: 1em;
    width: 100%;
    border-color: var(--border);
}

.leaderboard-entry {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    padding: 1em;

    gap: 1em;
    align-items: center;
    justify-content: space-between;

    background-color: var(--modal-background);
    border-radius: 15px;
    margin-bottom: 1.5em;
}
.leaderboard-entry-loading {
    height: 120px;
    border-radius: 15px;
    margin-bottom: 1.5em;
}
.leaderboard-entry-rank {
    font-size: larger;
    text-align: center;
    min-width: 5ch;
    flex: 1;
    font-size: 2rem;
    margin: 0.2em 0;
}
.leaderboard-entry-users {
    flex-basis: 75ch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}
.leaderboard-entry-user {
    flex: 3;
    flex-basis: 20ch;

    display: flex;
    flex-direction: row;

    padding: 0.3em 0;

    gap: 0.5em;
    align-items: center;
}
.user-icon-container {
    border-radius: 4px;
    position: relative;
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.username {
    display: block;
    white-space: normal;
    width: 15ch;
}

.entry-time {
    flex: 1;
    white-space: nowrap;
    color: var(--secondary-text);
    font-size: x-large;
    padding-right: 2em;
}
.entry-time-mobile {
    display: none;
}

.rta-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.src-splash-container {
    aspect-ratio: 33/9;
    position: relative;

    width: min(750px, 80vw);

    overflow: hidden;
    border-radius: 20px;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.03) 50%,
        rgba(0, 0, 0, 0.8) 90%,
        rgba(0, 0, 0, 1) 100%
    );

    text-align: center;
    pointer-events: none;
}

.src-splash-container > img {
    z-index: -1;
    object-fit: cover;
    object-position: 20% center;
}

.titles {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;

    font-size: xx-large;
}

.titles h1 {
    margin: 0;
}

.titles > .primary-title {
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(81, 67, 21, 0.8),
        0px 4px 7px rgba(81, 67, 21, 0.8);
}

.rta {
    font-style: italic;
    color: rgb(244, 244, 244);
    font-size: x-large;
    text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.3);
}

.rta-info-nav {
    display: flex;
    flex-direction: row;

    gap: 2em;
}

.rta-info-links {
    flex: 5;

    display: flex;
    flex-direction: row;
    gap: 1em;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.rta-info-link {
    background-color: var(--modal-background);
    border-radius: 10px;
    text-transform: uppercase;

    padding: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;

    transition: background-color 0.2s;
}
.rta-info-link:hover {
    background-color: var(--brand-orange);
}
.rta-info-link-child {
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .leaderboard-container {
        font-size: small;
    }
    .leaderboard-entry {
        position: relative;
        flex-direction: column;
        gap: 0.5em;
        border: 1px solid rgba(255, 255, 255, 0.26);
        overflow: hidden;
    }
    .leaderboard-entry-rank {
        margin: 0;
        font-size: 1.25rem;
        position: absolute;
        top: 0;
        left: 0;

        font-style: oblique;
        flex: 1;
        align-self: flex-start;

        background-color: rgba(161, 105, 0, 0.857);
        border-right: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
        border-bottom-right-radius: 8px;
    }
    .leaderboard-entry-users {
        margin-top: 18px;
        flex: 3;
        justify-content: space-between;
    }
    .leaderboard-entry-user {
        flex-basis: unset;
        flex: 1;
    }
    .entry-time {
        display: none;
    }
    .entry-time-mobile {
        display: block;
    }
    .username {
        width: 12ch;
        font-size: medium;
    }
    .username > * {
        display: block;
    }
    .user-icon-container {
        border-radius: 3px;
        width: 20px;
        height: 20px;
        aspect-ratio: 1/1;
    }
    .entry-time {
        font-size: medium;
        display: none;
    }
    .src-splash-container {
        flex-basis: 150px;
    }
    .titles {
        font-size: large;
    }
    .rta-info-links {
        gap: 1em;
    }
    .rta-info-link {
        border-radius: 6px;
        padding: 0.5em;
        gap: 0.5em;

        font-size: small;
    }
}

.world-first-header {
    width: 80%;
    margin: 0 auto;
    height: 10em;

    border-radius: 15px;
    overflow: hidden;

    margin-bottom: 0.5em;

    position: relative;
    border: 1px solid var(--border);
}
.world-first-header-image {
    z-index: -1;
    opacity: 0.6;
    object-position: center;
    object-fit: cover;
}
.world-first-header h1 {
    margin: 20px auto;
    padding: 0 0.3em;
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
}
.world-first-header h3 {
    margin: 20px auto;
    padding: 0 0.3em;
    font-weight: 800;
    font-size: 2rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}
@media (max-width: 810px) {
    .world-first-header h1 {
        font-size: 2rem;
    }
    .world-first-header h3 {
        font-size: 1.5rem;
    }
}
