.main {
    overflow-x: scroll;
}

.leaderboard-header {
    width: 80%;
    margin: 0 auto;
    height: 10em;

    border-radius: 15px;
    overflow: hidden;

    margin-bottom: 1.5em;

    position: relative;
}
.leaderboard-header h1 {
    margin: 20px auto;
    padding: 0 0.3em;
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
}
.leaderboard-header h3 {
    margin: 20px auto;
    padding: 0 0.3em;
    font-weight: 600;
    font-size: 2rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}
@media (max-width: 810px) {
    .leaderboard-header h1 {
        font-size: 2rem;
    }
}
.leaderboard-controls {
    position: absolute;
    bottom: 1em;
    right: 1em;

    display: flex;
    gap: 0.4em;
}
.leaderboard-container {
    background-color: var(--modal-background);
    border-radius: 15px;

    padding: 1em;

    min-width: min-content;

    gap: 1em;
}
.leaderboard-divider {
    width: 100%;
    border-color: var(--border);
}

.leaderboard-entry {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    gap: 1em;
    align-items: center;
    justify-content: space-between;
}
.leaderboard-entry-rank {
    font-size: larger;
    text-align: center;
    min-width: 5ch;
}
.leaderboard-entry-users {
    flex-basis: 75ch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.leaderboard-entry-user {
    flex: 3;
    flex-basis: 20ch;

    display: flex;
    flex-direction: row;

    gap: 0.5em;
    align-items: center;
}
.user-icon-container {
    border-radius: 4px;
    position: relative;
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.username {
    display: block;
    margin: 0;
    min-width: 15ch;
}

.entry-time {
    flex: 1;
    justify-content: center;
    white-space: nowrap;
}
