.summary-card {
    flex: 1;
    padding: 0.8em;
    min-width: 95%;

    background-color: rgba(30, 30, 30, 0.35);

    border-radius: 15px;
    border: 1px solid var(--border);

    position: relative;

    color: white;

    overflow: hidden;
}

.summary-card-background {
    position: absolute;
    z-index: -1;

    object-fit: cover;
    /** object-fit does not work with html2canvas */

    user-select: none;
}

.summary-card:has(.summary-card-dnf) {
    background-color: rgba(155, 110, 94, 0.106);
    color: var(--secondary-text);
}

.summary-card-dnf {
    opacity: 0.2 !important;
}

.summary-card-dnf ~ .grid .entry-card .color-film {
    background-color: rgba(32, 32, 32, 0.374);
}

.activity-tile-header-container {
    margin-bottom: 10px;
}

.activity-tile-header-top {
    padding: 5px;
    padding-bottom: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.left-info {
    flex-grow: 1;
}

.raid-info-top {
    font-size: medium;
}

.raid-difficulty {
    font-weight: bold;
    margin-right: 0.5rem;
}

.completion-time {
    color: rgb(182, 182, 182);
    font-style: oblique;
    padding: 3px;
}

.raid-name {
    font-weight: 900;
    font-size: xx-large;
    line-height: 0.75;
    text-transform: uppercase;
}

.right-info {
    flex-grow: 1;
    flex-shrink: 0;
    padding-top: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

.duration {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.duration > span {
    font-style: oblique;
    font-size: x-large;
    margin: 0.2rem;
}

.duration b {
    font-weight: 500;
}

.activity-tile-header-attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.cp-error {
    min-width: 40%;
    max-width: 65%;
}

.cp-error > p {
    margin: 0.4em 0;
    font-size: small;
    font-style: italic;
}

.tags-container {
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2em;
}

.tag {
    margin: auto 0;

    border: 1px solid var(--border);
    border-radius: 6px;

    padding: 4px 7px;
    background-color: rgba(235, 142, 36, 0.781);

    font-size: large;
    white-space: nowrap;
}

.grid {
    margin-top: 10px;
    border-radius: 10px;
    height: auto;
    display: grid;
    grid-gap: 0.5em;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}

.members-low {
    grid-template-columns: 1fr;
}

.entry-card {
    padding: 0;
    min-width: 260px;
    height: 85px;

    border-radius: 15px;
    border: 1px solid var(--border);

    background-color: var(--modal-background-opaque);

    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: hidden;
    position: relative;
}

.emblem {
    z-index: -1;

    transform: scale(1.02);
    filter: brightness(0.93) blur(1px);

    opacity: 0.95;
    object-fit: cover;
}

.color-film {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
}

/* This sets the top row to span 2 columns if odd count and landscape*/
@media only screen and (orientation: landscape) {
    .members-odd > .entry-card:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: span 2;
        margin-right: 25%;
        margin-left: 25%;
    }
}

.class-logo-container {
    max-height: 100%;
    aspect-ratio: 1/1;
    margin-left: 1em;
}

.class-logo-container > svg {
    width: 100%;
}

.centered {
    align-items: center;
}

.centered span {
    margin: auto;
}

.contained-span {
    flex: 1;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    color: white;
}

.member-name {
    min-width: 100px;
    flex-grow: 4;
    overflow: hidden;

    padding: 10px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;

    font-weight: bolder;
    font-size: 1.25rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.535);
}

.class-name {
    font-weight: 100;
    color: var(--tertiary-text);
}

.quick-stats-container {
    flex-basis: 50px;
    height: 100%;

    margin-left: auto;
    padding-right: 0.5em;
    display: flex;
    justify-content: flex-end;
}

.score-only {
    align-self: center;

    text-align: left;
    min-width: 6.5ch;

    font-size: large;
    font-style: italic;
    font-weight: 500;

    color: var(--search-text);

    border-radius: 5px;

    background-color: var(--modal-background);
    padding: 4px;
    border-radius: 999px;
}

.quick-stats {
    margin-left: 0.5em;
    max-width: 100%;
    padding: 0.6em 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.1em;
}

.quick-stat {
    display: flex;
    flex-direction: row;
    gap: 0.1em;
    align-items: center;

    justify-content: flex-start;

    background-color: var(--modal-background);
    padding: 2px;
    padding-left: 6px;
    border-radius: 999px;
}

.quick-stat span {
    margin-left: 0.2em;
    min-width: 2.5em;
    text-align: left;

    font-size: medium;
    font-style: italic;
    font-weight: 500;
    color: var(--search-text);
}

.quick-stat img {
    width: 15px;
    height: 15px;
}

.selected-entry-card {
    flex: 1;
    min-width: 220px;
    height: 85px;
    padding: 0;

    border-radius: 15px;
    border: 1px solid var(--border);

    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.members-header {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    flex-wrap: wrap;
}

.class-button-container {
    height: auto;
    flex: 0;

    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-evenly;
    align-items: center;

    gap: 0.8em;
}

.class-button {
    padding: 0.5em;
    width: 80px;
    height: 80px;

    background-color: rgba(151, 151, 151, 0.274);

    border-radius: 15px;
    border: 1px solid var(--border);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.class-button > img {
    width: 100%;
    height: 100%;
}

.member-profile-button {
    height: 85px;
    flex-grow: 0;

    background-color: rgba(55, 85, 79, 0.287);

    border-radius: 15px;
    border: 1px solid var(--border);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    color: var(--primary-text);
    text-decoration: none;
}

.view-profile-icon {
    flex: 1;
    max-height: 30px;
    max-width: 30px;
    margin: 10px;
}

.member-profile-button > span {
    flex: 1;
    margin-right: 0.7em;

    display: inline-flex;

    color: white;
    font-size: 1.15rem;
}

.summary-stats {
    flex-grow: 1;
    margin: 0px;
    margin-top: 10px;
    padding: 0 10px;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.summary-stat {
    min-height: 50px;
    padding: 10px 15px;

    background-color: var(--modal-background);

    border-radius: 15px;
    border: 1px solid var(--border);

    display: flex;
}

.character-stat {
    width: 100%;
    height: 100%;
    padding: 10px;

    background-color: var(--modal-background-opaque);

    display: flex;
    align-items: center;
}

.summary-stat-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
}

.stat-icon-container {
    position: relative;
    margin-right: 10px;

    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
}

.summary-stat-info {
    flex: 3;
    display: flex;
    padding: 3px;
    flex-direction: column;
    justify-content: center;
}

.summary-stat-name {
    text-align: left;
    text-transform: uppercase;
    font-size: small;
    font-style: italic;
    color: var(--secondary-text);
    line-height: 100%;
}

.summary-stat-value {
    font-weight: 900;
    font-size: x-large;
    text-align: left;
    line-height: 100%;
}

.entry-card.dnf {
    border-color: rgb(157, 20, 10);
}

.entry-card.dnf > .color-film {
    background-color: rgba(103, 0, 0, 0.501);
}

.entry-card.dnf > .color-film:hover {
    background-color: rgba(155, 21, 21, 0.424);
}

.entry-card.dnf span {
    color: rgb(143, 126, 126);
}

.entry-card.dnf img {
    opacity: 0.3;
}

.selected-entry-card.dnf {
    border-color: rgb(157, 20, 10);
}

.selected-entry-card.dnf > .color-film {
    background-color: rgba(67, 1, 1, 0.532);
}

.selected-entry-card.dnf span {
    color: rgb(234, 78, 78);
}

/** dynamic styling */
.selected {
    border-color: rgb(214, 246, 255);
}
.selectable {
    transform: translateZ(0); /* Fixes z-index issue w/ safari */
    border-width: 2px;
    transition: transform 0.05s ease-in-out;
}

.selectable:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.selectable:hover .color-film {
    background-color: rgba(110, 110, 110, 0.18);
}

/* adjust entry grid for mobile */
@media only screen and (orientation: portrait) {
    .raid-name > span {
        font-size: x-large;
    }
    .cp-error {
        max-width: 40%;
    }
    .duration > span {
        font-size: large;
    }
    .selected-entry-card,
    .member-profile-button {
        height: 69px;
    }
    .class-button {
        width: 69px;
        height: 69px;
    }
    .member-profile-link > span {
        display: none;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .summary-card {
        min-width: 300px;
    }
    .entry-card {
        height: 69px;
    }
    .class-logo-container {
        margin-left: 0.5em;
    }
    .quick-stats {
        padding: 0.2em 0;
    }
    .quick-stat span {
        font-size: small;
    }
    .quick-stat img {
        width: 13px;
        height: 13px;
    }
    .summary-stat {
        padding: 5px 8px;
    }
    .summary-stat-name {
        font-size: smaller;
    }
    .summary-stat-value {
        font-size: medium;
    }
    .stat-icon-container {
        width: 35px;
        height: 35px;
    }
}
.settings-menu-container {
    z-index: 2;
    position: absolute;
    right: 0.5em;
    top: 0.5em;

    display: flex;
}

.settings-menu-dropdown {
    margin-top: 0.5em;
    padding: 1em;

    border-radius: 5px;

    background-color: var(--modal-background-opaque);
    border: 1px solid var(--border);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-size: 0.625rem;
}

.settings-menu-dropdown > div {
    display: flex;
    gap: 1em;
    align-items: center;
}

.settings-menu-dropdown hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #888888;
}

.weapon-icon {
    max-height: 60px;
    max-width: 60px;
    border-radius: 4px;
    border: 2px solid rgba(43, 42, 37, 0.979);
}
