.title-form-container {
    padding: 10px 20px;
}
.sql-textarea-container {
    width: 100%;
    padding: 10px 20px;
}

.sql-textarea {
    width: 100%;
    font-family: "Courier New", monospace;

    font-size: 18px;
    padding: 10px;

    border-radius: 5px;
    resize: vertical;

    background-color: rgb(26, 26, 26);
}

.submit-btns {
    display: flex;
    gap: 0.5em;
}
