.modal {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe24;
    margin: 2% auto;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 20px;
    width: 80%;
    font-size: larger;
}
