#footer {
    margin-top: auto;
    width: 100%;
    padding: 1em 1em;
    background-color: var(--header-background);

    display: grid;
    gap: 1em;

    --footer-fill: #646464;

    font-size: 0.9rem;
    color: var(--footer-fill);
}

@media only screen and (max-width: 600px) {
    #footer {
        font-size: 0.75rem;
    }
}

#footer > div {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.top {
    align-self: flex-end;
}

.left {
    justify-content: left;
    text-align: left;
}

.right {
    justify-content: right;
    text-align: right;
}

.top .left {
    flex: 2;
}

.top .right {
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.bottom .left {
    flex: 1;
}

.bottom .right {
    flex: 2;
}

.version {
    color: var(--secondary-text);
}

.img-social {
    height: 30px;
    width: 30px;
}

.img-social svg {
    width: 100%;
    height: 100%;
    fill: var(--footer-fill);
}

.twitter-logo:hover {
    fill: #1da1f2;
}

.mail-logo:hover {
    fill: #969696;
}

.discord-logo:hover {
    fill: #6876a7;
}

.developers {
    font-weight: 600;
    text-transform: uppercase;
}

.url {
    font-style: italic;
}
