.footer {
    margin-top: auto;
    width: 100%;
    padding: 1em 1em;
    --header-background: rgba(14, 14, 14, 0.39);
    background-color: var(--header-background);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);

    display: grid;
    gap: 1em;

    --footer-fill: #646464;

    font-size: 0.9rem;
    color: var(--footer-fill);

    backdrop-filter: blur(10px) !important;
}

@media only screen and (max-width: 600px) {
    .footer {
        font-size: 0.75rem;
    }
}

.footer > div {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.top {
    align-self: flex-end;
}

.left {
    justify-content: left;
    text-align: left;
}

.right {
    justify-content: right;
    text-align: right;
}

.top .left {
    flex: 2;
}

.top .right {
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.bottom .left {
    flex: 1;
}

.bottom .right {
    flex: 2;
}

.version {
    color: var(--secondary-text);
}

.img-social svg {
    cursor: pointer;
    fill: var(--footer-fill);

    transition: fill 0.2s;
}

.developers {
    font-weight: 800;
    text-transform: uppercase;
}

.legal {
    display: flex;
    gap: 0.7em;
}

.legal a:hover,
.developers a:hover {
    color: var(--secondary-text);
}
