/* COLORS */
:root {
    --brand-orange: #ee7b29;
    --bungie-blue: #13e6ff;

    color: #ffffff;
    --secondary-text: #808080;
    --tertiary-text: rgb(183, 183, 183);
    --border: #5b5b5b;
    --header-background: #272727;
    --scroll-track: #7f7f7f;
    --search-background: #5a5a5a;
    --search-placeholder: #a9a9a9;
    --search-text: #e9e8e8;
    --modal-background: rgba(0, 0, 0, 0.458);
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Neue;
}

html {
    overflow: hidden;
    background-color: #000000;
    background-image: linear-gradient(
        -30deg,
        #00000000,
        #f8640231,
        #620d005e,
        #00000000,
        #00000000
    );
    background-position: left;
    background-repeat: repeat;
    background-size: cover;
}

body {
    overflow: auto;
    overscroll-behavior: none;
}

#__next {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: light) {
    html {
        background-color: white;
    }
    :root {
        color: #000000;
        --secondary-text: #4e4e4e;
        --tertiary-text: rgb(79, 79, 79);
        --border: #5b5b5b;
        --header-background: #7f7f7f;
        --scroll-track: #434343;
        --search-background: #e9e8e8;
        --search-text: #000000;
        --search-placeholder: #848484;
        --modal-background: rgba(255, 255, 255, 0.739);
    }
}

main {
    width: 85vw;
    max-width: 1200px;
    min-width: 620px;
    justify-content: center;
    margin: 1em auto;
}

@media only screen and (orientation: portrait) {
    main {
        width: 95vw;
        min-width: 350px;
    }
}

@font-face {
    font-family: "Neue";
    src: url("/fonts/NeueHaasDisplayBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Neue";
    src: url("/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Neue";
    src: url("/fonts/NeueHaasDisplayRomanItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Neue";
    src: url("/fonts/NeueHaasDisplayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

.loading-pulse {
    animation: loading-pulse 1.5s ease-in-out 0.5s infinite;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;

    border-radius: inherit;

    flex: 1;
    height: inherit;
    width: inherit;
    background-color: rgba(255, 255, 255, 0.13);
}

@keyframes loading-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: inherit;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #414141;
    opacity: 0.8;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--brand-orange);
}

input:checked + .slider:before {
    -webkit-transform: translateY(-26px);
    -ms-transform: translateY(-26px);
    transform: translateY(-26px);
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-track);
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--brand-orange);
}
