body, html {
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Neue;
}

@media (prefers-color-scheme: dark) {
  body {
      color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
      color: black;
  }
}

#__next {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: white;
  font-family: Neue;
  position: relative;
  z-index: 1;
  background-position: left;
  background-repeat: repeat;
  background-size: auto;
  background-image: url("/background-gradient.png");
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
}

/* Change the appearance of the scrollbar in Firefox */
scrollbar-color: #f5f5f5 #f5f5f5 ;

::-webkit-scrollbar-track {
  display: none;
}

@font-face {
  font-family: 'Neue';
  src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Neue';
  src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Neue';
  src: url('/fonts/NeueHaasDisplayRomanItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Neue';
  src: url('/fonts/NeueHaasDisplayBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

main {
  width: 75%;
  max-width: 1200px;
  min-width: 620px;
  justify-content: center;
}

@media only screen and (orientation: portrait) {
  main {
      width: 90%;
      min-width: 350px;
  }
}