/* COLORS */
:root {
    --brand-orange: #ee7b29;
    --bungie-blue: #13e6ff;
    color: #ffffff;
    --secondary-text: #808080;
    --tertiary-text: rgb(183, 183, 183);
    --border: #5b5b5b;
    --header-background: #1a171791;
    --scroll-track: #7f7f7f;
    --search-background: #2b2b2b6b;
    --search-placeholder: #a9a9a9;
    --search-text: #e9e8e8;
    --modal-background: rgba(15, 14, 14, 0.253);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #000000;
        --secondary-text: #4e4e4e;
        --tertiary-text: rgb(79, 79, 79);
        --border: #ffffff;
        --header-background: #7f7f7f;
        --scroll-track: #434343;
        --search-background: #e9e8e8;
        --search-text: #000000;
        --search-placeholder: #848484;
        --modal-background: rgba(224, 224, 224, 0.471);
        --modal-background-opaque: rgba(255, 255, 255, 0.939);
        --tooltip-background: rgba(255, 255, 255, 0.92);
    }
}

* {
    box-sizing: border-box;
}

html {
    background: linear-gradient(90deg, rgba(1,0,17,1) 0%, rgba(1,0,17,1) 25%, rgba(23,1,13,1) 48%, rgba(1,0,17,1) 91%, rgba(19,3,1,1) 100%);
    /* overflow-y: scroll; */

    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;

    overflow: auto;
    overscroll-behavior: none;

    font-family: Neue;
}

#__next {
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    /* This pushes content below the header */
    padding-top: 3.5em;

    background-color: #000000;
    background: linear-gradient(90deg, rgba(1,0,17,1) 0%, rgba(1,0,17,1) 25%, rgba(23,1,13,1) 48%, rgba(1,0,17,1) 91%, rgba(19,3,1,1) 100%);
}

@media (prefers-color-scheme: light) {
    #__next {
        background-image: repeating-linear-gradient(
            -30deg,
            #ffffffff 0px,
            #ffe6d5 300px,
            #ffd9d3 800px,
            #ffffff 1200px
        );
    }
}

main {
    width: 85vw;
    max-width: 1200px;
    min-width: 620px;
    margin: 1em auto 1em auto;
    padding: 0 0.5em;
}

@media only screen and (orientation: portrait) {
    main {
        width: 95vw;
        min-width: 350px;
    }
}

@font-face {
    font-family: "Neue";
    src: url("/fonts/NeueHaasDisplayBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Neue";
    src: url("/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Neue";
    src: url("/fonts/NeueHaasDisplayRomanItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Neue";
    src: url("/fonts/NeueHaasDisplayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

img[src=""] {
    font-size: 0;
    position: relative;
}

.loading-pulse {
    animation: loading-pulse 1.5s ease-in-out 0.5s infinite;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;

    border-radius: inherit;

    flex: 1;
    height: inherit;
    width: inherit;
    background-color: rgba(255, 255, 255, 0.13);
}

@keyframes loading-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #414141;
    opacity: 0.8;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider.always-on {
    background-color: var(--brand-orange);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--brand-orange);
}

input:checked + .slider:before {
    -webkit-transform: translateY(-26px);
    -ms-transform: translateY(-26px);
    transform: translateY(-26px);
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-track);
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--brand-orange);
}
