.header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 0.5em 1em;

    background-color: var(--header-background);
    border-bottom: 1px solid var(--border);

    font-family: Neue;

    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.logo-img {
    width: 30px;
    height: 30px;
}

.logo-text {
    text-transform: uppercase;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 3px;
    font-size: 18px;
    white-space: nowrap;
    font-family: Neue;
    font-weight: 800;
}

@media only screen and (max-width: 500px) {
    .logo-text {
        display: none;
    }
}

.right-content {
    display: flex;
    align-items: center;

    gap: 1em;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1em;
    height: 35px;
    padding-left: 1em;
    padding-right: 1em;

    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--search-background);

}

.search-icon {
    width: 15px;
    height: 15px;

    position: relative;
}

.search-img {
    width: 100%;
    height: 100%;
}

.loader {
    position: absolute;
    left: 3px;

    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid var(--brand-orange);
    width: 88%;
    height: 88%;

    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 400px) {
    .search-icon {
        display: none;
    }
}

.search-container form {
    position: relative;
}

#search-bar {
    max-width: 260px;
    min-width: 140px;
    height: 35px;

    /* Removing Form Styling*/
    border: none;
    outline: none;
    background: none;

    color: white;
    font-weight: 400;
    font-size: 11px;
    font-style: italic;
}

#search-bar:focus {
    outline: none;
}

/* search bar */
#search-bar::placeholder {
    color: var(--search-placeholder);
}

.search-results {
    position: absolute;

    right: 0;
    left: -130px;
    width: 350px;
    z-index: 999;
    overflow-x: hidden;

    list-style: none;
    padding: 0;
    margin: 8px;

    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;

    border-radius: 5px;
    background-color: var(--search-background);
    border: 1px solid var(--border);
    backdrop-filter: blur(10px);

    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.397) black;
}


.search-results::-webkit-scrollbar-thumb {
    border-radius: 100px;
}

.search-results:empty {
    display: none;
}

.search-result {
    transform-origin: left;
    padding: 0.3em;
    padding-left: 0.9em;
    transition: transform 0.2s ease-out;
}

.search-result {
    font-size: 15px;
    font-weight: 400;
    font-family: Neue;
}

.search-result p {
    margin: 0;
}

.search-result:hover {
    background: var(--brand-orange);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.02s ease-in-out;
}

/* width */
.search-results::-webkit-scrollbar {
    width: 5px;
}

.account-dropdown {
    overflow: hidden;
    cursor: pointer;
}

.account-button {
    border: none;
    width: 30px;
    height: 30px;
    position: relative;

    cursor: pointer;

    transition: width 0.1s ease-out, height 0.1s ease-out;
}

.account-dropdown:hover .account-button {
    width: 35px;
    height: 35px;
}

.account-dropdown-content-container {
    position: absolute;
    right: 0.5em;
    z-index: 1;

    min-width: 100px;

    border-radius: 6px;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--modal-background);

    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.account-dropdown:hover .account-dropdown-content-container {
    grid-template-rows: 1fr;
}

.account-dropdown-content {
    overflow: hidden;
    border-radius: inherit;

    width: 100%;

    margin-block: 0;
    padding-inline-start: 0;

    text-align: center;
}

.account-dropdown-content > li {
    border-radius: inherit;
}

.account-dropdown-content > li > * {
    display: block;
    padding: 0.5em;
}

.account-dropdown-content > li:hover {
    background-color: var(--brand-orange);
}


.search-div {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    min-width: 600px;
    min-height: 700px;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 15px;
    backdrop-filter: blur(15px);

    border: 1px solid var(--border)
}

.search-div .search-content {
    display: flex;
    position: relative;
}

.search-top {
    display: flex;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;

    color: var(--secondary-text)
}

.search-top-right {
    margin-left: auto;
    padding-right: 15px;
}

.search-top-right img {
    width: 15px;
    height: 15px;
}

.search-div hr {
    height: 1px;
    background-color: var(--border);
    border: none;
}

@media (max-width: 890px) {
    .keys {
        display: none;
    }
}