.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    overflow: auto;
    max-width: 1000px;
}

.main-element {
    margin: 10px;
}

.soft-rectangle {
    border-radius: 15px;
    border: var(--border);
    border-style: solid;
    border-width: 1px;
}

#summary-card {
    flex: 1;
    background-color: rgba(30, 30, 30, 0.35);
    min-width: 95%;
    padding-bottom: 10px;
    position: relative;
}

@media only screen and (orientation: portrait) {
    #summary-card {
        min-width: 300px;
        max-width: 95%;
    }
}

.activity-card-header-container {
    padding: 10px;
    margin-left: 10px;
}

#activity-card-header {
    padding: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#left-info {
    flex-grow: 1;
}

#raid-info-top {
    font-size: medium;
}

#raid-difficulty {
    font-weight: bold;
    margin-right: 0.5rem;
}

#completion-time {
    color: rgb(182, 182, 182);
    font-style: oblique;
    padding: 3px;
}

#raid-name {
    font-weight: 900;
    font-size: xx-large;
    line-height: 100%;
    text-transform: uppercase;
}

#cp-error {
    max-width: 400px;
}

#cp-error > p {
    font-size: small;
    font-style: italic;
}

#right-info {
    flex-grow: 1;
    padding-top: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

.duration {
    flex-grow: 1;
    font-style: oblique;
    font-size: x-large;
    display: flex;
    justify-content: right;
}

.duration > span {
    margin: 0.2rem;
}

#tags-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    font-size: large;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
    margin-right: 6px;
    border-width: 2px;
    background-color: rgb(125, 168, 65);
}

#members {
    padding: 10px 20px;
    border-radius: 10px;
    height: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr;
}

/* This sets the column count to 1*/
@media only screen and (orientation: portrait) {
    #members {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
    }
}

.members-low {
    grid-template-columns: 1fr;
}

.members-even {
    grid-template-columns: repeat(2, 1fr);
}

.members-odd {
    grid-template-columns: repeat(2, 1fr);
}

.entry-card {
    height: auto;
    min-width: 260px;
    min-height: 85px;
    max-height: 70px;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.emblem {
    border-radius: inherit;
    max-height: 100%;
    left: -100px;
    opacity: 0.95;
    filter: blur(2px);
}

.member-card-container {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00000000, #2626265f, #26262684, #2626265f, #00000000);
}

.member-card {
    display: flex;
    flex-direction: row;
    font-size: larger;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: left;
}

/* This sets the top row to span 2 columns if odd count and landscape*/
@media only screen and (orientation: landscape) {
    .members-odd > .entry-card:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: span 2;
        margin-right: 25%;
        margin-left: 25%;
    }
}

.class-logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px;
    max-width: 81px;
    height: 100%;
    background: linear-gradient(to right, #212121a5, #ffffff00);
}

.class-logo > img {
    max-height: 50px;
    aspect-ratio: 1/1;
    padding: 10px;
}

.member-properties {
    min-width: 100px;
    flex-grow: 4;
    padding: 10px;
    position: relative;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.centered {
    align-items: center;
}

.centered span {
    margin: auto;
}

.member-name {
    overflow: hidden;
    display: flex;
}

.contained-span {
    flex: 1;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    color: white;
}

.member-name > span {
    font-weight: bolder;
    font-size: 1.25rem;
}

.member-class {
    overflow: hidden;
    display: flex;
}

.member-class > span {
    display: inline-block;
    font-style: italic;
    font-size: 1.25rem;
    color: rgb(219, 219, 219);
}

.flawless-diamond {
    flex: 0;
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 2%;
    min-width: 80px;
    display: flex;
}

.flawless-diamond > img {
    flex: 1;
    min-width: 44px;
    min-height: 44px;
    max-width: 63px;
    max-height: 63px;
    left: 0;
    right: 0;
    padding: 5px;
    aspect-ratio: 1/1;
}

@media only screen and (orientation: portrait) {
    .flawless-diamond > img {
        min-width: 24px;
        min-height: 24px;
        max-width: 40px;
        max-height: 40px;
    }
}

.class-button-container {
    height: auto;
    margin: 2px;
    overflow: hidden;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.class-button {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: rgba(151, 151, 151, 0.274);
}

.class-button > img {
    width: 70px;
    height: 70px;
    margin: auto;
}

.member-profile-button {
    height: 85px;
    flex: 1;
    background-color: rgba(55, 85, 79, 0.287);
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.view-profile-icon {
    flex: 1;
    max-height: 30px;
    max-width: 30px;
    margin: 10px;
    margin-right: 15px;
}

.member-profile-link > span {
    flex: 1;
    color: white;
    font-size: 1.15rem;
    display: inline-flex;
}

#summary-stats {
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0px;
    margin-top: 10px;
    padding: 0 10px;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.summary-stat {
    min-height: 57px;
    padding: 10px 15px;
    background-color: rgba(78, 9, 9, 0.35);
    display: flex;
}

.character-stat {
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
}

.summary-stat-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
}

.stat-icon {
    margin-right: 10px;
    max-width: 50px;
    max-height: 50px;
    aspect-ratio: 1/1;
    flex: 1;
}

.summary-stat-info {
    flex: 3;
    display: flex;
    padding: 3px;
    flex-direction: column;
    justify-content: center;
}

.summary-stat-name {
    text-align: left;
    text-transform: uppercase;
    font-size: small;
    font-style: italic;
    color: rgb(192, 192, 192);
    line-height: 100%;
}

.summary-stat-value {
    font-weight: 900;
    font-size: x-large;
    text-align: left;
    line-height: 100%;
}

.dnf {
    background-color: rgb(103, 0, 0);
    border-color: rgb(157, 20, 10);
}

.dnf span {
    color: rgb(159, 159, 159);
}

.dnf img {
    opacity: 0.3;
}

/** dynamic styling */
.selected {
    border-color: rgb(214, 246, 255);
}
.selectable {
    border-width: 2px;
}

.selectable:hover {
    background-color: rgba(137, 233, 255, 0.452);
    cursor: pointer;
}

.color-film {
    background-color: rgba(212, 68, 39, 0.003);
}
