.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 1em;
}

@media only screen and (orientation: portrait) {
    .main {
        flex-direction: column;
    }
  }

.content {
    flex: 5;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.sidebar {
    flex: 1;
    min-width: 300px;
}

/* width */
.dots-container::-webkit-scrollbar {
    width: 1px;
    height: 10px;
}

/* Track */
.dots-container::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.dots-container::-webkit-scrollbar-thumb {
    background: #ecebeb;
    border-radius: 7px;
}

/* Handle on hover */
.dots-container::-webkit-scrollbar-thumb:hover {
    background: rgb(231, 121, 43);
}

.dot {
    cursor: pointer;
}

.dot circle {
    transition: r 2s ease-in-out;
}

.dot circle:hover {
    r: 10;
    transition: r 0.1s ease-in-out;
}

.dots-container {
    margin-right: 2em;
    max-height: 100%;
    height: 126px;
    overflow-y: hidden;
    overflow-x: auto;
    direction: rtl;
    /* initially set direction to right-to-left */
}

.profile {
    height: 210px;
    border: 1px solid #5b5b5b;
    border-radius: 20px;
}

.profile-banner {
    height: 80px;
}

.image-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.profile-image {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    margin: -1.5em 1em;
}

.profile-image img {
    margin-right: .5em;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.profile-image p {
    font-weight: 600;
    font-size: 18px;
    margin-top: 1.5em;
}

.discrim {
    color: #13e6ff;
}

.linked-text {
    font-weight: 600;
    margin-top: 3em;
    font-size: 14px;
    margin-left: 1.5em;
    margin-bottom: .5em;
}

.icons {
    display: flex;
    justify-content: left;
    margin: 0 1.2em;
}

.img-social {
    padding: 0.2em;
    width: 20px;
    height: 20px;
}

.profile-banners {
    background: #d04749;
    margin-top: 1em;
    border: 1px solid #5b5b5b;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
}

.profile-banners img {
    width: 30px;
}

.banners-text p {
    font-size: 14px;
    line-height: 2px;
    margin-left: .5em;
}

.banners-text .bold-banner {
    font-weight: 600;
}

.description {
    display: flex;
    border: 1px solid #5b5b5b;
    border-radius: 20px;
    align-items: center;
    margin-top: 1em;
    padding: 1em;
    height: 220px;
}

.desc-img {
    width: 99px;
    height: 192px;
    margin-right: 1em;
}

.desc-title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: -1.5em;
}

.desc-subtitle {
    font-style: italic;
    font-size: 18px;
    margin-top: -1.5em;
    color: rgb(133, 133, 133);
}

.desc-text {
    color: rgb(183, 183, 183);
    font-size: 12px;
}

.description-list {
    display: flex;
    align-items: center;
}

.description-list img {
    width: 14px;
    height: 10px;
    margin-right: 5px;
}

.description-list p {
    font-size: 12px;
    margin: 0;
}

.description-list span {
    color: rgb(135, 135, 135);
}

.token {
    display: flex;
    border: 1px solid #5b5b5b;
    border-radius: 20px;
    align-items: center;
    margin-top: 1em;
    padding: 6px 1em;
}

.token img {
    margin-right: .5em;
}

.token-title {
    font-weight: 600;
    font-size: 12px;
}

.token-text {
    color: rgb(109, 109, 109);
    margin-top: -10px;
    font-size: 12px;
    font-style: italic;
}

.card-header {
    border: 1px solid #292929;
    border-radius: 20px;
    background: rgb(31, 41, 69);
    padding: .2em 3em;
}

.pin {
    z-index: -1;
    margin-left: -1.5em;
    margin-bottom: -1.5em;
}


.card-header-text {
    display: flex;
    align-items: center;
    margin-top: -1em;
}

.card-header-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-right: .5em;
}

.card-badge {
    display: flex;
    align-items: center;
}

.card-badge img {
    width: 16px;
    margin-right: .5em;
}

.card-header-subtext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -2em;
}

.card-header-time {
    display: flex;
    align-items: center;
}

.card-header-time img {
    margin-right: .5em;
    width: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1em;
    gap: 1em;
}

.raid-card {
    border: 1px solid #4e4e4e;
    border-radius: 20px;
    min-width: 300px;
    width: 500px;
    flex: 1
}

.raid-card-img-container {
    position: relative;
}

.raid-card-img-container .top-image {
    width: 100%;
    border-bottom: 1px solid #4e4e4e;
    border-radius: 20px 20px 0 0;
}

.img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.462), rgba(0, 0, 0, 0.251));
    padding-left: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tag-row {
    margin: 0.5em;
    margin-left: 0;
    height: 25px;
    display: flex;
}

.clickable-tag {
    cursor: pointer;
    height: 100%;

    color: white;

    background-color: #2e2d2da1;
    background-size: 0em;
    border: 0.1px solid #4e4e4e;
    border-radius: 5px;
    padding: 2px 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
}

.placement {
    justify-self: flex-start;
}

.img-overlay-bottom {
    margin-bottom: 1em;
}

.raid-card-title {
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
}

.card-diamonds {
    display: flex;
    align-items: center;
    margin: -0.4em 0;
    margin-top: 0.2em;
}


.raid-card-content {
    padding: 0 1.5em;
}

.clickable-tag img {
    margin: 0 .2em;
    width: 15px;
}

.graph-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph-img {
    width: 200px;
}

.graph-count {
    text-align: center;
}

.graph-number-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph-number {
    font-size: 28px;
    font-weight: 600;
}

.graph-count-text {
    margin-top: -2.7em;
    text-align: center;
    text-transform: uppercase;
    color: rgb(125, 125, 125);
    font-size: 10px;
}

.timings {
    border-top: 1px solid #4e4e4e;
    border-bottom: 1px solid #4e4e4e;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
}

.timing {
    margin: 1em;
}

.timings-number {
    font-weight: 600;
}

.timings-subtitle {
    color: rgb(100, 100, 100);
    text-transform: uppercase;
    font-size: 12px;
    margin-top: -1em;
}

.down-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    padding-bottom: 1em;
    width: 20px;
}