.styled-button {
    display: inline-block;
    outline: 0;
    border: none;

    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    background-color: var(--button);

    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}

.styled-button:hover:not(:disabled) {
    cursor: pointer;
    background-color: var(--brand-orange-light);
}

.kebab-menu {
    display: flex;
    position: relative;
}

.kebab-menu svg {
    fill: #777777;
    transition: fill ease-in-out 0.2;
    cursor: pointer;
}

.kebab-menu:hover svg {
    fill: #aaaaaa;
}

.kebab-menu-dropdown {
    position: absolute;
}
.toggle {
}

.checkbox {
    height: 0;
    width: 0;
    display: none;
}

.toggle label {
    cursor: pointer;
    background: rgb(39, 39, 39);
    display: block;

    transition: background-color ease-in-out 0.3s;
    position: relative;
}

.toggle label:after {
    content: "";
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 45%;
    height: 90%;
    background: #fff;
    border-radius: inherit;
    transition: 0.3s;
}

.checkbox:checked + label {
    background: var(--brand-orange-light);
}

.checkbox:checked + label:after {
    left: 97.5%;
    transform: translateX(-100%);
}
