.clan {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 1em 1em 0.5em 1em;
    align-items: stretch;
    width: min-content;

    gap: 1em;
}

.clan-banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}

.desc-title {
    margin-bottom: -0.1em;
    text-align: center;

    font-weight: 600;
    font-size: large;
    letter-spacing: 1px;
}
