.expanded-raid {
    background-color: var(--modal-background);
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 1em;

    grid-column-start: 1; /* Start from the first column */
    grid-column-end: -1; /* End at the last column */
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.bungie-stats {
    flex: 7;
    max-width: 500px;
}

.table {
    border-collapse: collapse;
    margin: 20px;

    overflow-x: auto;
}

.table th,
.table td {
    border: 1px solid var(--border);
    padding: 8px;
    text-align: center;
}

.history {
    flex: 3;
}

.history-activities {
    overflow: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;

    padding: 1em;

    justify-content: center;
}

.history-activities > * {
    flex-basis: 170px;
}

.weekly-progress {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.character-progress-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}

.character-progress-header .image-container {
    position: relative;
    aspect-ratio: 1/1;
    width: 48px;
}

.progress-boxes {
    display: grid;
    gap: 0.4em;
}

@media (max-width: 768px) {
    .table {
        display: block;
    }
    .bungie-stats,
    .history {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
