.loader {
    position: absolute;
    left: 3px;

    /* stroke is assigned in the component */
    border: var(--stroke) solid #f3f3f3;
    border-radius: 50%;
    border-top: var(--stroke) solid var(--brand-orange);
    width: 88%;
    height: 88%;

    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
