.styled-button {
    display: inline-block;
    outline: 0;
    border: none;

    height: 30px;
    padding: 0 10px;
    border-radius: 4px;

    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}

.styled-button:not(:disabled) {
    color: var(--primary-color);
    cursor: pointer;
}

.styled-button:hover:not(:disabled) {
    background-color: var(--brand-orange-light);
}
