.ranking-banners-loading {
    min-width: 200px;
    min-height: 30vh;
    flex: 1;
    border-radius: 15px;
    border: 1px solid var(--border);
    background-color: var(--modal-background);
}

.ranking-banners {
    flex: 1;
    width: 100%;

    display: flex;
    gap: 1em;
    flex-direction: column;

    color: white;
}

.ranking-banner {
    flex: 1;
    min-width: 200px;
    max-height: 100px;
    padding: 0.5em 0.5em;

    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: #00000077;

    display: flex;
    align-items: center;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    white-space: nowrap;
}

.banner-text > h3 {
    font-size: 1.125rem;
}

.banner-text > * {
    font-weight: 400;
    font-size: 0.875rem;
    margin: 2% 0;
    flex: 1;
}

.banner-bold {
    font-weight: 600;
}

.banner-subtext {
    font-style: italic;
    color: #8a8a8a;
}

.ranking-banner-icon {
    object-fit: contain;
    min-width: 30px;
    max-width: 40px;
    height: auto;
    margin: 0 1em;
}
