.current-activity {
    flex: 2;
    width: 100%;

    background-color: var(--modal-background);

    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 1em 1em;

    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.current-activity-label {
    display: block;

    font-size: 0.75rem;
    font-style: italic;
    text-transform: uppercase;

    color: var(--tertiary-text);
}

.activity-name {
    display: block;

    font-size: 1.125rem;
    font-weight: 800;
    text-transform: uppercase;
}

.fireteam-members {
    display: flex;
    flex-direction: column;

    gap: 0.2em;

    max-height: 14ch;
    overflow-y: auto;
}

.fireteam-members > * {
    white-space: nowrap;
}

.timer {
    white-space: nowrap;
}

.pinned-activity-loading {
    flex: 3;
    width: 100%;
    min-height: 10vh;

    border-radius: 20px;
    border: 1px solid var(--border);
    height: 100px;

    background-color: var(--modal-background);
}

.pinned-activity {
    flex: 3;
    display: block;
    min-width: 270px;
    width: 100%;

    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 0.2em 3em;

    position: relative;
    overflow: hidden;

    color: white;
    user-select: none;
}

.pinned-activity img {
    transition: all 0.6s ease-in-out;
}

.pinned-activity:hover img {
    transform: scale(1.1);
}

.pinned-background {
    object-position: center;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}

.pin-icon {
    left: 1em;
    top: 0.6em;
    position: absolute;
}

.pinned-activity-text {
    display: flex;
    align-items: center;
}

.pinned-activity-title {
    font-weight: 800;
    font-size: 22px;
    text-transform: uppercase;
    margin-right: 0.5em;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.pinned-activity-subtext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -2em;
}

.pinned-activity-time {
    display: flex;
    align-items: center;
}

.pinned-activity-time svg {
    margin-right: 0.3em;
}

.pinned-activity-timer > span {
    white-space: nowrap;
}

.filter-view {
    border: 1px solid var(--border);
    background-color: var(--modal-background);
    border-radius: 20px;

    align-self: stretch;
    display: flex;
    justify-content: center;

    position: relative;
}

.filter-view-content {
    padding: 1em;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    cursor: pointer;
}

.filter-view-content > h4 {
    color: var(--tertiary-text);
    text-transform: uppercase;
    margin: 0;
}

.filter-selector:not([open]) {
    display: none;
}

.filter-selector::backdrop {
    background: var(--modal-background);
    backdrop-filter: blur(2px);
}

.filter-selector {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    background-color: rgba(0, 0, 0, 0.92);
    border-radius: 20px;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    border: 1px solid var(--border);

    width: 400px;

    margin: 0;
    padding: 5px;

    overflow: hidden;
}

.filter-selector-container {
    padding: 1em;
    min-height: 500px;
    width: 100%;
}

.filter-selector-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 2em;
}
.filter-selector-builder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 1em;
}

.filter-selector-nav {
    align-self: flex-start;
    justify-content: flex-start;

    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;

    transition: color 0.1s ease-in;
    cursor: pointer;
}

.filter-selector-nav-arrow {
    transition: fill 0.1s ease-in;
    cursor: pointer;
}
.filter-selector-nav:hover .filter-selector-nav-arrow,
.filter-selector-nav:hover {
    fill: var(--brand-orange-light);
    color: var(--brand-orange-light);
}

.filter-selector h3 {
    width: 100%;
    text-transform: uppercase;
    margin-block: 0.2em;
}

.filter-selector-builder > form input[type="text"] {
    border: 2px solid white;
    border-radius: 4px;

    font-size: 1.125rem;
}

.filter-selector-builder > form button {
    margin-left: 1em;
}

.filter-manager-component {
    display: flex;
    flex-direction: row;
    gap: 1em;

    border: 1px solid white;
    border-radius: 999px;

    text-align: center;

    display: flex;
    align-items: center;
}

.filter-manager-component > p {
    width: 200px;
    margin-block: 0;
    font-size: 1.25rem;
    font-weight: 800;
    text-transform: uppercase;

    text-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 0 1em;
}

.filter-selector-builder-controls {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.filter-selector-builder-button {
    border-radius: 999px;
    border: none;

    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;

    padding: 0.3em 0.6em;

    position: relative;
}

.filter-selector-builder-button:hover:not([aria-disabled="true"])::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the alpha value for darkness */
    pointer-events: none; /* Allows interaction with the button */
    transition: opacity 0.3s ease; /* Smooth transition effect */
}

.filter-selector-error {
    color: rgb(254, 74, 74);
    font-size: 1rem;
}
.filter-selector-error > p {
    margin: 0.2em;
}

.filter-presets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.filter-presets > button {
    border: 1px solid gray;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.238);

    padding: 0.5em;

    font-size: 1.25rem;

    user-select: none;
    text-transform: uppercase;

    transition: background-color 0.3s ease;
}
.filter-presets > button[aria-current="true"] {
    border-color: white;
    background-color: var(--brand-orange-light);
}

.filter-selector-block {
}
.filter-item {
    border: 1px solid var(--border);
    background-color: #ffffff25;
    padding: 4px;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;

    justify-content: center;
    align-items: center;

    position: relative;
}

.filter-combinator {
    padding: 4px;
}

.filter-not {
    background-color: #c02c2c33;
}

.filter-remove-btn {
    position: absolute;
    top: -5px;
    right: -5px;

    width: min-content;
    height: min-content;

    border-radius: 10px;
    border: none;

    font-size: 0.5rem;
    background-color: #ffffffae;
}

.filter-selector button:not([aria-disabled="true"]):hover,
.filter-view button:not([aria-disabled="true"]):hover {
    background-color: rgb(255, 172, 47);
    cursor: pointer;
}

.no-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5em;
}

.filter-selector-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;

    background-color: var(--modal-background-opaque);
    border-radius: 5px;
}

.filter-selector-menu h4 {
    margin-block: 0.2em;
    text-align: center;
    font-weight: 500;
    font-style: oblique;
}

.filter-selector-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.3em;

    margin: 0.4em;
    padding-inline-start: 0;
    padding: 0.2em;

    list-style-type: none;

    max-height: 90%;
    overflow-y: auto;
}

.filter-selector-menu li {
    padding: 0.5em;
    background-color: #ffffff2d;
}

.filter-selector-menu li:hover {
    cursor: pointer;
    background-color: var(--brand-orange);
}

.layout-toggle {
    height: 6rem;
    min-width: min-content;
    width: 80%;
    flex: 1;

    padding: 1em;

    background-color: var(--modal-background);
    border: 1px solid var(--border);
    border-radius: 20px;

    display: flex;
    gap: 1.3rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.description-toggle {
    min-width: 4rem;
    text-align: center;
    display: block;

    text-transform: uppercase;
    color: var(--secondary-text);
    font-size: 0.8em;
}

.description-toggle:hover {
    cursor: pointer;
}

.description-toggle.checked {
    font-weight: 800;
    color: var(--tertiary-text);
}

@media (min-width: 960px) {
    .description-toggle {
        font-size: 1em;
    }
}
