.current-activity {
    flex: 2;
    width: 100%;

    background-color: var(--modal-background);

    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 1em 1em;

    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.current-activity-label {
    display: block;

    font-size: 0.75rem;
    font-style: italic;
    text-transform: uppercase;

    color: var(--tertiary-text);
}

.activity-name {
    display: block;

    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.fireteam-members {
    display: flex;
    flex-direction: column;

    gap: 0.2em;

    max-height: 14ch;
    overflow-y: auto;
}

.fireteam-members > * {
    white-space: nowrap;
}

.timer {
    white-space: nowrap;
}

.pinned-activity-loading {
    flex: 3;
    width: 100%;
    min-height: 10vh;

    border-radius: 20px;
    border: 1px solid var(--border);
    height: 100px;

    background-color: var(--modal-background);
}

.pinned-activity {
    flex: 3;
    display: block;
    min-width: 270px;
    width: 100%;

    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 0.2em 3em;

    position: relative;
    overflow: hidden;

    color: white;
    user-select: none;
}

.pinned-background {
    object-position: center;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}

.pin-icon {
    left: 1em;
    top: 0.6em;
    position: absolute;
}

.pinned-activity-text {
    display: flex;
    align-items: center;
}

.pinned-activity-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-right: 0.5em;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.pinned-activity-subtext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -2em;
}

.pinned-activity-time {
    display: flex;
    align-items: center;
}

.pinned-activity-time svg {
    margin-right: 0.3em;
}

.pinned-activity-timer > span {
    white-space: nowrap;
}

.filter-view {
    border: 1px solid var(--border);
    background-color: var(--modal-background);
    border-radius: 20px;

    align-self: stretch;
    display: flex;
    justify-content: center;

    position: relative;
}

.filter-view-content {
    padding: 1em;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    cursor: pointer;
}

.filter-view-content > h4 {
    margin: 0;
}

.filter-selector:not([open]) {
    display: none;
}

.filter-selector::backdrop {
    background: var(--modal-background);
    backdrop-filter: blur(2px);
}

.filter-selector {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    background-color: rgba(0, 0, 0, 0.92);
    border-radius: 20px;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    border: 1px solid var(--border);

    min-height: 400px;
    max-width: 400px;

    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.filter-selector > div {
    margin: 0.5em;
}

.filter-selector-buttons {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.2em;
}

.filter-selector-buttons > * {
    border: none;
    border-radius: 5px;
    white-space: nowrap;
}

.filter-item {
    border: 1px solid var(--border);
    background-color: #ffffff25;
    padding: 4px;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;

    justify-content: center;
    align-items: center;

    position: relative;
}

.filter-combinator {
    padding: 4px;
}

.filter-not {
    background-color: #c02c2c33;
}

.filter-remove-btn {
    position: absolute;
    top: -5px;
    right: -5px;

    width: min-content;
    height: min-content;

    border-radius: 10px;
    border: none;

    font-size: 0.5rem;
    background-color: #ffffffae;
}

.filter-selector button:hover,
.filter-view button:hover {
    background-color: rgb(255, 172, 47);
    cursor: pointer;
}

.no-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5em;
}

.filter-selector-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;

    background-color: var(--modal-background-opaque);
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.3em;

    margin: 0.4em;
    padding-inline-start: 0;
    padding: 0.2em;

    list-style-type: none;

    max-height: 90%;
    overflow-y: auto;
}

.filter-selector-menu > li {
    padding: 0.5em;
    background-color: #ffffff2d;
}

.filter-selector-menu > *:hover {
    cursor: pointer;
    background-color: var(--brand-orange);
}

.layout-toggle {
    height: 6rem;
    min-width: min-content;
    width: 80%;
    flex: 1;

    padding: 1em;

    background-color: var(--modal-background);
    border: 1px solid var(--border);
    border-radius: 20px;

    display: flex;
    gap: 1.3rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.description-toggle {
    min-width: 4rem;
    text-align: center;
    display: block;

    text-transform: uppercase;
    color: var(--secondary-text);
    font-size: 0.8em;
}

.description-toggle:hover {
    cursor: pointer;
}

.description-toggle.checked {
    font-weight: 600;
    color: var(--tertiary-text);
}

@media (min-width: 960px) {
    .description-toggle {
        font-size: 1em;
    }
}
