.pinned-activity-loading {
    border-radius: 20px;
    border: 1px solid var(--border);
    height: 100px;

    background-color: var(--modal-background);
}

.pinned-activity {
    position: relative;
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 0.2em 3em;
    position: relative;

    color: white;
}

.pinned-background {
    opacity: 0.6;
}

.pin-icon {
    z-index: -1;
    position: absolute;
    top: 0.8em;
    left: 1.5em;
    width: 20px;
}

.recent-icon {
    position: absolute;
    top: 0.8em;
    left: 0.8em;
    width: 20px;
}

.pinned-activity-text {
    display: flex;
    align-items: center;
}

.pinned-activity-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-right: 0.5em;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.pinned-activity-subtext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -2em;
}

.pinned-activity-time {
    display: flex;
    align-items: center;
}

.pinned-activity-time img {
    margin-right: 0.5em;
    width: 20px;
}

.pinned-activity-timer > span {
    white-space: nowrap;
}

.layout-toggle {
    height: 6rem;
    min-width: 8rem;
    max-width: 18rem;
    flex: 1;

    padding: 1em;

    background-color: var(--modal-background);
    border: 1px solid var(--border);
    border-radius: 20px;

    display: flex;
    gap: 1.3rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.description-toggle {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-text);
    font-size: 0.8em;
}

.description-toggle:hover {
    cursor: pointer;
}

.description-toggle.checked {
    font-weight: 600;
    color: var(--tertiary-text);
}

@media (min-width: 960px) {
    .description-toggle {
        font-size: 1em;
    }
}
/* The switch - the box around the slider */
.switch {
    flex-shrink: 0;
    transform: rotate(90deg);
    position: relative;
    display: inline-block;
    width: 34px;
    height: 60px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: reverse;
    margin-top: 1em;
    gap: 1em;
    max-width: 100%;
}

.card {
    border: 1px solid var(--border);
    border-radius: 20px;
    min-width: 300px;
    max-width: 100%;
    flex: 1;
}

.card-img-container {
    position: relative;
    display: flex;
}

.card-background {
    width: 100%;
    border-bottom: 1px solid var(--border);
    border-radius: 20px 20px 0 0;
    opacity: 0.95;
}

.img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 99%;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tag-row {
    margin: 0.5em;
    margin-left: 0;
    height: 25px;
    display: flex;
}

.clickable-tag {
    cursor: pointer;
    height: 100%;

    color: white;

    background-color: rgba(31, 31, 31, 0.737);
    background-size: 0em;
    border: 0.1px solid var(--border);
    border-radius: 5px;
    padding: 2px 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;
}

.img-overlay-bottom {
    margin-bottom: 1em;
}

.card-title {
    color: white;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.card-challenge-tags {
    margin-bottom: 0.4em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.35em;
}

.card-content {
    padding: 0 1.5em;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    background-color: var(--modal-background);
}

.clickable-tag img {
    margin: 0 0.2em;
    width: 15px;
}

.graph-content {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 0.5em;
}

.graph-right {
    flex: 0;
}

.dots-container {
    flex: 1;
    margin: 1em 0;
    border-radius: 5px;
    min-width: 200px;
    max-height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    direction: rtl;
    /* initially set direction to right-to-left */
}

.dots-svg-loading {
    flex: 1;
}

/* width */
.dots-container::-webkit-scrollbar {
    height: 6px;
}

.dot {
    cursor: pointer;
}

.dot circle {
    transition: r 0.1s ease-in-out;
    transition: fill 0.2 ease-in-out;
}

.dot:hover circle {
    r: 8;
}

.blinking-dot circle {
    transition: r 0.5s ease-in-out;
    animation: blink 0.5s alternate infinite ease-in-out;
    r: 10;
}

@keyframes blink {
    0% {
        fill: #ffffff;
    }
    100% {
        fill: #bdf4ff;
    }
}

.dot-tooltip {
    position: absolute;
    transform: translateY(-50%);

    background-color: var(--tooltip-background);
    color: #fff;
    padding: 6px;
    border-radius: 6px;

    border-style: solid;
    border-width: 1px;

    transition: opacity 0.2s ease-in-out;

    user-select: none;
    font-size: 0.7rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

    overflow: visible;
    text-align: center;

    white-space: nowrap;
}

.dot-tooltip:hover {
    display: none;
}

.dot-tooltip-date {
    color: var(--secondary-text);
}

.dot-tooltip hr {
    border-width: 0.1px;
    color: var(--border);
    opacity: 0.4;

    margin: 0.3em 0;
}

.dot-tooltip-tags {
    display: flex;
    flex-direction: column;
}

.timings {
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    padding: 0;
}

.timing {
    margin: 1em;
    text-align: center;
}

.timing > p {
    margin: 0.5em 0;
}

.timing a {
    color: #ffc7b4;
}

.timings-number {
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.625rem;
}

.timings-number-large {
    font-weight: 600;
    font-size: 1.625rem;
}

.timings-subtitle {
    color: rgb(100, 100, 100);
    text-transform: uppercase;
    font-size: 12px;
}

.number-loading {
    border-radius: 5px;
    min-height: 2rem;
    min-width: 100%;
    display: flex;
}

.recent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1em;
    gap: 1em;
    max-width: 100%;
    justify-content: stretch;
}

.placeholder {
    flex: 1;
    flex-basis: 250px;
    height: 240px;
    border: 1px solid var(--border);
    border-radius: 12px;
    background-color: var(--modal-background);
}

.activity {
    flex: 1;
    min-width: 180px;
    flex-basis: 250px;
    transition: transform 0.1s ease-in-out;
    border: 1px solid var(--border);
    border-radius: 12px;

    position: relative;
}

@media only screen and (orientation: portrait) {
    .activity {
        flex-basis: 120px;
    }
}

.activity:hover {
    cursor: pointer;
    transform: scale(1.035);
}

.activity-content-img {
    width: 100%;
    height: 100%;
    opacity: 0.8;

    border-radius: inherit;
}

.activity-title {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;

    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.success-layer {
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    background-image: linear-gradient(#00000000, #000000e2);
}

.success-layer p {
    margin: 0;
    padding: 0.6em 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

.load-more {
    transition: transform 0.2s ease-in-out;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 12px;
    background-color: #a5f6b455;

    margin: 0 20%;
    flex-basis: 100%;

    display: flex;
    justify-content: center;
}

.load-more:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.load-more > span {
    padding: 1em;
    color: #f0f1f0;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
