.card-loading {
    min-height: 30vh;

    border-radius: 15px;
    border: 1px solid var(--border);
    background-color: var(--modal-background);
}

.card {
    position: relative;
    flex: 1;
    width: 100%;

    border: 1px solid var(--border);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    color: white;

    overflow: hidden;
    min-width: 320px;
    max-width: 475px;
}

.banner {
    margin: 0;
    border-radius: inherit;

    position: relative;
}

.image-background {
    min-height: 50px;
    min-width: 240px;
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom-right-radius: 8px;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0.5em;
    align-items: center;
    display: flex;
    transform: translateY(70%);
}

.details > img {
    flex: 1;
    margin-right: 0.5em;
    object-fit: cover;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    border: 1px solid var(--border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.username {
    flex: 1;
}

.username > span {
    border-radius: 6px 0 0 6px;
    padding: 0.5em 0;
    background-color: #00000077;
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px;
}

.discrim {
    border-radius: 0 6px 6px 0;
    padding-left: 0em;
    color: var(--bungie-blue);
}

.edit-btn {
    position: absolute;
    right: 0.2em;
    z-index: 2;

    opacity: 0;
    transition: opacity 0.1s ease-out;
}
.card:hover .edit-btn {
    opacity: 1;
}

.edit-background-btns > button,
.edit-btn {
    border: none;
    border-radius: 4px;

    text-transform: uppercase;
    filter: invert(100%);

    cursor: pointer;
}

.edit-background-btns > button:hover,
.edit-btn:hover {
    filter: unset;
    background-color: var(--brand-orange-light);
}

.edit-background-modal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;

    height: 50%;
}

.edit-background-btns {
    display: flex;
    justify-content: center;
    gap: 0.2em;

    margin: 0.3em 0;
}

.edit-background-info-text {
    padding: 0.2em;
    margin: 0;

    background-color: var(--modal-background-opaque);
    border: 1px solid var(--border);
}

.edit-background-info-text a {
    color: var(--brand-orange-light);
}

.edit-background-input {
    width: 100%;
    height: 100%;

    resize: vertical;
    white-space: pre-wrap;

    border: 1px solid #555;
    border-radius: 4px;
    padding: 8px;
    background-color: var(--modal-background-opaque);

    font-family: "Courier New", monospace;
    color: #ffffff;
}

.icons {
    margin-top: 50px;
    padding: 1em;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: flex-start;
    justify-content: center;
}

.social {
    background-color: #00000077;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--border);
}

.social:hover {
    cursor: pointer;
    transform: scale(1.035);
}

.social-divider {
    width: 1px;
    margin: 0.4em 0.1em;
    background-color: #6a6b71;
}

.social-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0.5em;
}

.social-text > span {
    text-align: center;
    flex: 1;
}

.img-social {
    margin: 0.3em;
    margin-left: 0.5em;
    max-height: 30px;
    max-width: 30px;
}

.img-social rect {
    fill: #ffffff;
}

.img-social rect:hover {
    cursor: pointer;
}

#twitter:hover .twitter-logo {
    fill: #1da1f2;
}

#discord:hover .discord-logo {
    fill: #6876a7;
}

#youtube:hover .youtube-logo {
    fill: #f12d2d;
}

#twitch:hover .twitch-logo {
    fill: #6441a5;
}

#bungie:hover .bungie-logo {
    fill: #9ad5ec;
}
