.card-loading {
    min-height: 30vh;

    border-radius: 15px;
    border: 1px solid var(--border);
    background-color: var(--modal-background);
}

.card {
    position: relative;
    flex: 1;

    border: 1px solid var(--border);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    color: white;

    overflow: hidden;
    max-width: min(475px, 100%);
}

.banner {
    margin: 0;
    border-radius: inherit;

    position: relative;
}

.image-background {
    min-height: 50px;
    min-width: 240px;
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom-right-radius: 8px;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0.5em;
    align-items: center;
    display: flex;
    transform: translateY(70%);
}

.details > img {
    flex: 1;
    margin-right: 0.5em;
    object-fit: cover;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    border: 1px solid var(--border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.profile-username-container {
    flex: 1;
}

.username {
    border-radius: 6px;
    padding: 0.4em;
    background-color: #00000077;
    white-space: nowrap;
    font-weight: 800;
    font-size: 18px;
}

.discrim {
    color: var(--bungie-blue);
}

.edit-btn {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 2;

    opacity: 0;

    border-radius: 100%;

    background-color: #0000005e;
    transition: opacity 0.1s ease-out;

    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.card:hover .edit-btn {
    opacity: 1;
}

.edit-btn svg {
    width: 1em;
    height: 1em;
    fill: white;
}

.edit-btn:hover {
    cursor: pointer;
}

.card:hover .edit-btn {
    opacity: 1;
}

.edit-background-modal {
    z-index: 999;
    position: absolute;
    left: 19.5%;
    top: 0.2%;
    width: 20%;

    padding: 0.2em;
    margin: 0;

    background-color: var(--modal-background);
    border: 1px solid var(--border);
    border-radius: 15px;

    text-align: center;

    backdrop-filter: blur(10px) !important;
}

.edit-background-btns {
    display: flex;
    justify-content: center;
    gap: 0.2em;

    margin: 0.3em 0;
}

.custom-color-picker {
    margin-top: 0.25rem;
    width: 100px;
    height: 35px;
    border-radius: 0.5rem;
    border-color: #e5e7eb;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.icons {
    margin-top: 50px;
    padding: 1em;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: flex-start;
    justify-content: center;
}

.social {
    background-color: #00000077;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--border);
}

.social:hover {
    cursor: pointer;
    transform: scale(1.035);
}

.social-divider {
    width: 1px;
    margin: 0.4em 0.1em;
    background-color: #6a6b71;
}

.social-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0.5em;
}

.social-text > span {
    text-align: center;
    flex: 1;
}

.img-social {
    padding: 0.4em 0.5em;

    display: flex;
}

.social:hover svg {
    fill: var(--icon-color);
}
