name: Tests

on: [push]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: install node v16.17
              uses: actions/setup-node@v1
              with:
                  node-version: "16.17"
            - run: yarn install
            - run: yarn test
